* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-decoration: none;
  background-color: transparent;
  list-style: none;
}
html,
body,
#root {
  height: 100%;
  background: rgb(17, 15, 15);
}
.screen {
  height: 100%;
}
.point {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
}
